.dockerenv
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.log
*.sqlite3
*.db
*.bak
*.backup
*.tmp
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.zip
*.egg-info/
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.coverage
*.py,coverage
.hypothesis/
.pytest_cache/
.pyre/
.mypy_cache/
.dmypy.json
dmypy.json
.pytype/
.pyre_configuration/
.pyre_configuration.local/ 
